:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --background-first-color: #f5f4fa;
  --accent-color: #2196f3;
  --main-font-size: 14px;
  --second-font-size: 16px;
  --third-font-size: 18px;
  --padding-bottom-container: 94px;
  --margin-right-list: 30px;
  --margin-bottom-header: 50px;
}

html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

.body {
  font-family: var(--main-font);
  background: var(--third-text-color);
}

.container {
  width: 1200px;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: var(--padding-top-container);
  padding-bottom: var(--padding-bottom-container);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.link {
  display: block;
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

/*logo*/
.logo-text {
  padding-bottom: 25px;
  padding-top: 25px;
  margin-right: 84px;
  width: 153px;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-text > span {
  color: #000000;
}

/*навигация*/

.main-nav {
  display: flex;
  align-items: center;
}

.navigation-list .link {
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

.navigation-list .link {
  padding-top: 35px;
  padding-bottom: 25px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list .link:hover,
.navigation-list .link:focus {
  color: var(--accent-color);
}

.adress {
  display: flex;
  align-items: center;
}

.header .mail {
  margin-right: var(--margin-right-list);
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header .mail:hover,
.header .mail:focus {
  color: var(--second-text-color);
}

.header .phone {
  align-items: flex-end;
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: var(--second-font-size);
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.header .phone:hover,
.header .phone:focus {
  color: var(--accent-color);
}

/*главный герой*/
.hero-title {
  margin-bottom: var(--margin-right-list);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.hero {
  background-color: #757575;
  text-align: center;
}
.hero .container {
  padding-top: 202px;
  padding-bottom: 196px;
}

/*Кнопка заказа услуги*/

.hero .modal-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: var(--second-font-size);
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--third-text-color);
  border-radius: 4px;
  border: none;
}

/* Почему мы*/
.why-are-we .container {
  display: flex;
  padding-bottom: var(--padding-bottom-container);
  padding-top: 94px;
}

.why-are-we-list {
  width: 270px;
}

.why-are-we-list:not(:last-child) {
  margin-right: var(--margin-right-list);
}

.why-are-we .item {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
}

.img-background {
  padding: 25px 100px;
  margin-bottom: 30px;
  background: #f5f4fa;
}

.why-are-we .description {
  font-size: var(--main-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/*Чем мы занимаемся*/

.what-are-we-do {
  padding-bottom: var(--padding-bottom-container);
}

.what-are-we-do .header {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  text-transform: none;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.what-are-we-do {
  padding-bottom: var(--padding-bottom-container);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.what-are-we-do-list {
  width: 370px;
}

.what-are-we-do-list .item {
  padding-top: 27px;
  padding-bottom: 27px;
}

.what-are-we-do-list:not(:last-child) {
  margin-right: var(--margin-right-list);
}

.what-are-we-do-list .item {
  background-color: rgba(47, 48, 58, 0.8);
}

/*наша команда*/
.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-first-color);
}

.our-team .header {
  margin-bottom: var(--margin-bottom-header);
  font-size: 36px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.our-team-list {
  padding-bottom: 24px;
  background-color: #ffffff;
}

.our-team-list:not(:last-child) {
  width: 270px;
  margin-right: 30px;
}

.our-team-pic {
  margin-bottom: 30px;
}

.our-team .name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: var(--second-font-size);
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.our-team .position {
  margin-bottom: 16px;
  font-size: var(--second-font-size);
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.social-list {
  justify-content: center;
}

/* Постоянные клиенты */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: var(--margin-bottom-container);
}

.clients .header {
  margin-bottom: var(--margin-bottom-header);
  font-size: 36px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100% - 50px / 6);
  height: 90px;
  border: 2px solid #afb1b8;
}

.clients-list:not(:last-child) {
  margin-right: var(--margin-right-list);
}

/*Футер*/

.footer {
  background-color: #2f303a;
}

.footer .container {
  display: flex;
}

.footer .contacts {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  margin-bottom: 20px;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo > span {
  color: var(--third-text-color);
}

.footer .adress {
  padding-bottom: 9px;
  font-style: normal;
  font-size: var(--main-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.footer .contacts {
  width: 370px;
  margin-right: var(--margin-right-list);
}

.footer .contacts-item {
  font-size: var(--main-font-size);
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail {
  padding-bottom: 9px;
}

.footer .contacts-item:hover,
.footer .contacts-item:focus {
  color: var(--accent-color);
}

.join-footer {
  margin-right: 30px;
  padding-top: 72px;
  padding-bottom: 100px;
  width: 370px;
}

.join-footer .join {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.portfolio .filter {
  padding-left: 270px;
  padding-right: 270px;
  margin-bottom: 50px;
  margin-top: 50px;
  height: 38px;
}

.portfolio-filter-item {
  display: flex;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  text-align: center;
}

.portfolio-filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter-item .all {
  width: 73px;
}

.portfolio-filter-item .app {
  width: 145px;
}

.portfolio-filter-item .web-sites {
  width: 128px;
}

.portfolio-filter-item .design {
  width: 103px;
}

.portfolio-filter-item .marketing {
  width: 130px;
}

.filter .link {
  font-weight: 500;
  font-size: var(--second-font-size);
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  background-color: var(--background-first-color);
}

.filter .link:hover {
  color: var(--third-text-color);
  background-color: var(--accent-color);
}

.project {
  flex-wrap: wrap;
  width: calc(100% - 2 * 30px / 3);
}

.project .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
}

.project .item:nth-last-child(-n + 3) {
  margin-bottom: 94px;
}

.project .item:nth-child(3n) {
  margin-right: 0;
}

.project .item .name {
  padding-left: 24px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: var(--third-font-size);
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}

.project .item:nth(3n) {
  margin-right: 0;
}

.project .item .img {
  margin-bottom: 20px;
}

.project .item .description {
  padding-left: 24px;
  font-size: var(--second-font-size);
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
